footer {
    width: 100%;
    background-color: rgb(88, 88, 74);

    ul {
        display: flex;
        justify-content: center;

        li {
            list-style: none;
            padding: 1%;

            a {
                color: white;
                text-decoration: none;
                font-size: 0.5em;
            }
        }
    }

    p {
        text-align: center;
        font-size: 0.6em;
        padding: 1% 0% 2% 0%;
        color: rgba($color: white, $alpha: 0.5);
    }

}