#rooms {
    display: block;
    width: 80%;
    margin: 3% auto;

    h3 {
        padding: 1%;
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        letter-spacing: 0.07em;
    }

    p {
        margin: 0% auto;
        width: 70%;
        padding: 1%;
        text-align: center;
    }
}