#rooms {
    width: 100%;
    background-image: url("../images/rooms-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;

    #roomsDiv {
        display: block;
        width: 80%;
        margin: 1% auto;
        padding: 1%;

        h3 {
            padding: 1%;
            text-align: center;
            font-weight: normal;
            font-size: 2em;
            letter-spacing: 0.07em;
        }

        .dummyP {
            margin: 0% auto;
            width: 70%;
            padding: 1%;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1200px) {
    #rooms {
        #roomsDiv {
            //display: block;
            width: 100%;

            h3 {
                //font-size: 1em;
                letter-spacing: 0;
                padding: 2%;
            }

            .dummyP {
                width: 90%;
            }
        }
    }
}