* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#navDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #768794;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#navDiv nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navDiv nav ul {
  width: 60%;
}

#bookNow {
  background-color: #573c1c;
  text-decoration: none;
  color: white;
  padding: 1%;
  letter-spacing: 3px;
  font-size: 0.7em;
}

#book {
  display: none;
}

.logo {
  position: absolute;
  top: 25%;
  left: 10%;
  -webkit-transform: translate(-25%, -10%);
          transform: translate(-25%, -10%);
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

.nav-links li {
  list-style: none;
  padding-top: 4px;
  padding: 1%;
}

.nav-links li:hover {
  padding-top: 0;
  border-top: 4px solid white;
}

.nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 0.7em;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  #navDiv {
    height: 10vh;
  }
  .logo {
    position: absolute;
    height: 10vh;
    top: 4vh;
    left: 50%;
    -webkit-transform: translate(-4vh, -50%);
            transform: translate(-4vh, -50%);
  }
  .logo img {
    height: 90%;
    margin: 1% auto;
  }
  #bookNow {
    display: none;
  }
  #book {
    display: inline;
    position: absolute;
    right: 1%;
    background-color: #573c1c;
    text-decoration: none;
    color: white;
    padding: 2%;
    font-size: 0.6em;
    font-weight: bold;
  }
  .nav-links {
    position: absolute;
    left: 0px;
    height: 90vh;
    top: 10vh;
    background-color: #768794;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    position: absolute;
    left: 1vh;
    height: 90vh;
    top: 2vh;
    padding: 1%;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

/*Animation for showing the links*/
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

#hero-section {
  background-image: url("../images/hero.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

#hero-section .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#hero-section .layer .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#hero-section .layer .container h1 {
  letter-spacing: 0.25em;
  font-weight: 800;
  font-size: 3em;
  padding: 1%;
  width: 60%;
  margin: 0% auto;
}

#hero-section .layer .container p {
  margin: 0% auto;
  width: 60%;
}

@media screen and (max-width: 1200px) {
  #hero-section .layer .container {
    display: block;
    width: 100%;
  }
  #hero-section .layer .container h1 {
    display: block;
    letter-spacing: 0;
    font-size: 2em;
    text-align: center;
    width: 100%;
  }
  #hero-section .layer .container p {
    width: 90%;
  }
}

#rooms {
  width: 100%;
  background-image: url("../images/rooms-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
}

#rooms #roomsDiv {
  display: block;
  width: 80%;
  margin: 1% auto;
  padding: 1%;
}

#rooms #roomsDiv h3 {
  padding: 1%;
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: 0.07em;
}

#rooms #roomsDiv .dummyP {
  margin: 0% auto;
  width: 70%;
  padding: 1%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #rooms #roomsDiv {
    width: 100%;
  }
  #rooms #roomsDiv h3 {
    letter-spacing: 0;
    padding: 2%;
  }
  #rooms #roomsDiv .dummyP {
    width: 90%;
  }
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  padding: 2%;
  /* Hide the images by default */
}

.slideshow-container .mySlides {
  display: none;
  margin: 0% auto;
  width: 80%;
  display: block;
}

.slideshow-container .mySlides .slideRoom {
  background-color: white;
  display: inline-block;
  width: 31%;
  margin: 1%;
  -webkit-box-shadow: -5px 10px 18px rgba(120, 100, 82, 0.5);
          box-shadow: -5px 10px 18px rgba(120, 100, 82, 0.5);
}

.slideshow-container .mySlides .slideRoom img {
  width: 100%;
}

.slideshow-container .mySlides .slideRoom h4 {
  padding: 10% 10% 0% 10%;
  font-size: 1.5em;
  font-weight: normal;
}

.slideshow-container .mySlides .slideRoom p {
  font-size: 0.9em;
  display: block;
  width: 100%;
  text-align: left;
  padding: 10%;
}

.slideshow-container .mySlides .slideRoom a {
  display: block;
  color: #4f341f;
  font-weight: bold;
  padding: 0% 10% 10% 10%;
}

/* Next & previous buttons */
/*
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}*/
/* Position the "next button" to the right */
/*
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}*/
/* On hover, add a black background color with a little bit see-through */
/*
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
*/
/* Caption text */
/*
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}*/
/* Number text (1/3 etc) */
/*
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
*/
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 40px;
  margin: 0 2px;
  background-color: rgba(120, 100, 82, 0.5);
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgba(79, 52, 31, 0.9);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .slideshow-container {
    position: relative;
    padding: 2%;
    /* Hide the images by default */
  }
  .slideshow-container .mySlides .slideRoom {
    display: inline-block;
    width: 100%;
  }
  .slideshow-container .mySlides .slideRoom.hidden {
    display: none;
  }
}

footer {
  width: 100%;
  background-color: #58584a;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  list-style: none;
  padding: 1%;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.5em;
}

footer p {
  text-align: center;
  font-size: 0.6em;
  padding: 1% 0% 2% 0%;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1200px) {
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2%;
  }
  footer ul li {
    padding: 0%;
    display: block;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */